{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Dunoans Solutions<br />
    Rua Boyce Guarilu, 8080<br />
    <abbr title="Telefone">Tel:</abbr>
    91810-1018
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@Dunoans.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Dunoans.com</a><br />
    <strong>Comercial:</strong> <a href="mailto:Comercial@example.com">Comercial@Dunoans.com</a><br />
    <strong>RH:</strong> <a href="mailto:RH@example.com">RH@Dunoans.com</a>
</address>

{% endblock %}
